@import '../core/variables';

.contactSection {
    background-color: $blue;
    border-left: solid 1px $gray;
    border-right: solid 1px $gray;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
};