@import '../core/variables';

.featuredProjects {
    display: flex;
    flex-direction: column;
}

.imageSection{
    background-color: $lightSalmon;
    border: solid 1px $gray;
    border-bottom: none;
   
    
    &__carrusel {
        height: 291px;
        background-position: center;
        background-size: cover;
        margin: 10px;
        position: absolute;
        top: 0;
        left: 0;
        
        transition: background-image 0.5s ease;

        @media screen and (min-width: 726px)  {
            height: 400px;
        };

        @media screen and (min-width: 726px)  {
            height: 600px;
        };

    }
}