@import '../core/variables';
.footer {
    background-color: $darkPink;
    border: solid 1px $gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    &__icons {
        display: flex;
        gap: 15px;
        padding-top: 10px;
        @media screen and (min-width: 1024px)  {
            gap: 50px;
        }
    }

    &__text {
        padding: 10px 0;
        font-family: $fontH3M;
        font-size: $fontSizeH3M;

    }
}

.footerIcon {
    width: 20px;
    height: 20px;
    @media screen and (min-width: 726px)  {
        width: 30px;
        height: 30px
    }
    @media screen and (min-width: 1024px)  {
        width: 40px;
        height: 40px
    }
}


