@import '../core/variables';

.header {
    background-color: $mint;
    border: solid 1px $gray;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 10px;

    &__logotipe {
        width: 50px;

        & img {
            width: 100%;
        }
    }

    &__buttonOff {
        border: solid 1px $black;
        border-radius: 50%;
        background-color: $mint;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 1px  $black;
        width: 30px;
        height: 30px;

        & img {
            width: 50%;
        }

        @media screen and (min-width: 726px)  {
            display: none;
        }
    }
    &__buttonOn {
        border: solid 1px $black;
        border-radius: 50%;
        background-color: $mint;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        transform: translateY(2px) translateX(2px);

        & img {
            width: 50%;
        }

        @media screen and (min-width: 726px) {
            display: none;
        }
        }

        &__navMenu{
            @media screen and (max-width: 726px) {
                display: none;
            }

            display: flex;
            gap: 15px;
            font-family: $fontLinkD;
            font-weight: 500;
            font-size: 20px;
            :hover {
                font-weight: 400;
            }
        }
}





.hidden {
    display: none;
}