@import '../core/variables';

.projectsSection{
    background-color: $blue;
    height: 80vh;
    border-left: solid 1px $gray;
    border-right: solid 1px $gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    @media screen and (min-width: 726px) {
        height: 90vh;
    }
    @media screen and (min-width: 1024px) {
        height: 80vh;
        flex-direction: row;
    }

    &__cardDesign {
        height: 145px;
        width: 234px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
        box-shadow: 4px 4px  $black;
        background-color: $darkSalmon;
        @media screen and (min-width: 726px) {
            height: 200px;
            width: 300px;
            &:hover {
                box-shadow: none;
                transform: translateX(2px) translateY(3px);
            }
        }

        @media screen and (min-width: 1024px) {
            height: 400px;
            width: 300px;
            justify-content: space-between;
        }
        

        &--background {
        height: 80%;
        width: 100%;
        border-radius: 20px 20px 0 0;
        background-image: url('src/images/Mockup_Completo.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 25% 40%;
        }
      

        &--text {
            font-family: $fontCardtSubtitleM;
            font-size: $fontSizeCardSubtitleM;
            text-align: center;
            padding-top: 5px;
            @media screen and (min-width: 726px) {
                font-size: 15px
            }
            @media screen and (min-width: 1024px) {
                font-size: 20px;
                padding-bottom: 30px;
            }
        }
    }

    &__cardProgramming {
        height: 145px;
        width: 234px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
        box-shadow: 4px 4px  $black;
        background-color: $darkSalmon;
        @media screen and (min-width: 726px) {
            height: 200px;
            width: 300px;

            &:hover {
                box-shadow: none;
                transform: translateX(2px) translateY(3px);
            }
        }

        @media screen and (min-width: 1024px) {
            height: 400px;
            width: 300px;
            justify-content: space-between;
        }
        

        &--background {
        height: 80%;
        width: 100%;
        border-radius: 20px 20px 0 0;
        background-image: url('src/images/MockupWebGroupOne.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 25% 40%;
        }
      

        &--text {
            font-family: $fontCardtSubtitleM;
            font-size: $fontSizeCardSubtitleM;
            text-align: center;
            padding-top: 5px;
            @media screen and (min-width: 726px) {
                font-size: 15px
            }
            @media screen and (min-width: 1024px) {
                font-size: 20px;
                padding-bottom: 30px;
            }
        }
    }
    &__cardIlustration {
        height: 145px;
        width: 234px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
        box-shadow: 4px 4px  $black;
        background-color: $darkSalmon;
        @media screen and (min-width: 726px) {
            height: 200px;
            width: 300px;
            &:hover {
                box-shadow: none;
                transform: translateX(2px) translateY(3px);
            }
        }

        @media screen and (min-width: 1024px) {
            height: 400px;
            width: 300px;
        }
        

        &--background {
        height: 80%;
        width: 100%;
        border-radius: 20px 20px 0 0;
        background-image: url('src/images/fantasmabig.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 25% 40%;
        }
      

        &--text {
            font-family: $fontCardtSubtitleM;
            font-size: $fontSizeCardSubtitleM;
            text-align: center;
            padding-top: 5px;
            @media screen and (min-width: 726px) {
                font-size: 15px
            }
            @media screen and (min-width: 1024px) {
                font-size: 20px;
                padding-bottom: 30px;
            }
        }
    }
    
};

