$lightSalmon: #F9D2CF;
$darkSalmon: #FFAFB2;
$blue: #D2D4FF;

$darkPink: #FFC5F7;
$mint: #CEF9E9;
$darkWhite: #FFF8F8;

$black: #0C0B0B;
$gray: #524d4d;
$white: #FFF8F8;


$fontDisplayM: "Lexend Exa", sans-serif;
$fontSizeDisplayM: 21px;
$fontH1M: "Lexend Deca", sans-serif;
$fontSizeH1M: 20px;
$fontH2M: "Lexend Deca", sans-serif;
$fontSizeH2M: 19px;
$fontH3M: "Lexend Deca", sans-serif;
$fontSizeH3M: 18px;
$fontBodyM: "Lexend", sans-serif;
$fontSizeBodyM: 17px;
$fontPlaceholderM: "Lexend", sans-serif;
$fontSizePlaceholderM: 14px;
$fontButtonM: "Lexend Deca", sans-serif;
$fontSizeButtonM: 12px;
$fontLinkM: "Lexend Deca", sans-serif;
$fontSizeLinkM: 10px;
$fontCardtTitleM: "Lexend Deca", sans-serif;
$fontSizeCardTitleM: 17px;
$fontCardtSubtitleM: "Lexend Deca", sans-serif;
$fontSizeCardSubtitleM: 14px;
$fontCardtBodyM: "Lexend", sans-serif;
$fontSizeCardBodyM: 13px;


