@import 'core/reset';
@import 'core/variables';
@import 'components/Header';
@import 'components/Main';
@import 'components/Hero';

.bodyContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: $darkWhite;
}