@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'core/reset';
@import 'core/variables';
@import 'components/Header';
@import 'components/NavMenu';
@import 'components/Main';
@import 'components/Hero';
@import 'components/AboutMe';
@import 'components/AboutMeSection';
@import 'components/FeaturedProjects';
@import 'components/BannerProjects';
@import 'components/ProjectsSection';
@import 'components/GraphicDesignOne';
@import 'components/WebDevelopmentOne';
@import 'components/Footer';



.bodyContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: $darkWhite;
}